.fc .fc-toolbar-title {
            font-size: 1.1rem;
            font-weight: 900;
            color: #451a03;
        }

        .fc .fc-col-header-cell-cushion {
            color: #92400e;
            font-weight: 700;
            padding: 4px;
        }

        .fc .fc-daygrid-day-number {
            color: #78350f;
            font-weight: bold;
            cursor: pointer;
        }

        .fc .fc-daygrid-day:hover {
            background-color: #fffbeb;
            cursor: pointer;
        }

        .fc .fc-button-primary {
            background-color: #fffbeb;
            border-color: #fde68a;
            color: #92400e;
            font-weight: bold;
            text-transform: capitalize;
        }

        .fc .fc-button-primary:hover {
            background-color: #fef3c7;
            border-color: #fcd34d;
            color: #78350f;
        }

        .fc .fc-button-primary:not(:disabled):active {
            background-color: #fde68a;
            border-color: #fbbf24;
        }

        @keyframes fadeIn {
            from {
                opacity: 0;
                transform: translateY(5px);
            }

            to {
                opacity: 1;
                transform: translateY(0);
            }
        }

        .animate-fade-in {
            animation: fadeIn 0.3s ease-out forwards;
        }