/* number dan datetime */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator { 
    cursor: pointer; 
    opacity: 0.6; 
    transition: 0.2s; 
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator:hover { 
    opacity: 1; 
}

/* Tab */
.chrome-tab-active {
    position: relative;
    z-index: 20 !important;
}

.chrome-tab-active::before,
.chrome-tab-active::after {
    content: '';
    position: absolute;
    bottom: 0; 
    width: 16px;
    height: 16px;
    pointer-events: none;
}

.chrome-tab-active::before {
    left: -16px;
    border-bottom-right-radius: 16px;
    border-right: 1px solid #fde68a; /* hex amber-200 */
    border-bottom: 1px solid #fde68a;
    box-shadow: 6px 6px 0 6px #ffffff;
}

.chrome-tab-active::after {
    right: -16px;
    border-bottom-left-radius: 16px;
    border-left: 1px solid #fde68a; 
    border-bottom: 1px solid #fde68a;
    box-shadow: -6px 6px 0 6px #ffffff;
}